<div class= "title">
  <% if @cell_phones.empty? %>
    <h1>Please Post the First Phone you want Reviewed</h1>
  <% else %>
    <h1>Phones to be Reviewed:</h1>
  <% end %>
</div>


<% if @cell_phones.blank? %>
  <h4>There are no cell phones containing the term <%= params[:search] %>.</h4>
<% end %>

<% @cell_phones.each do |cell_phone| %>
  <tr>
    <td><%= link_to(cell_phone.name, cell_phone_path(cell_phone))%></td>
    <td><%= button_to '+1', upvote_cell_phone_path(cell_phone), method: :post %></td>
    <td><%= cell_phone.votes.count %> Votes </td>
    <td><%= link_to 'Show', cell_phone %></td>
    <td><%= link_to 'Edit', edit_cell_phone_path(cell_phone) %></td>
    <td><%= link_to 'Destroy', cell_phone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

<div class="search_form">
  <%= form_tag(cell_phones_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Cell Phones" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>
</div>
