<!DOCTYPE html>
<html>
  <head>

    <title>ReviewCellphones</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <div class= "links">
    <ul class= "index_links">
    <% if current_user %>
    <li> <%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
    <li> <%= link_to "Add a Cell Phone", new_cell_phone_path %></li>
    <% else %>
    <li><%= link_to 'Sign In', new_user_session_path %></li>
      <% end %>
    <li><%= link_to 'Sign Up', new_user_registration_path %></li>
  </ul>
    </div>

    <div class="search_form">
      <%= form_tag(cell_phones_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Cell Phones" %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>
  </div>

  <body>

    <% if flash.any? %>
    <div class="flash">
      <div class="container">
        <%= flash[:alert] %>
        <% end %>
    <%= yield %>
  </body>
</html>
